
/*-- scss:defaults --*/
$primary: #6A3274;

/* color de título de la encuesta */
h1 {
  color: #6A3274 !important;
}

h2, h3 {
  color: #E3467C !important;
}

/* cambiar color de fondo de la encuesta */
body {
  background-color: #FDF4F8 !important;
}

/* cambiar color de fondo de la encuesta */
body {
   color: #593957 !important;
}

/* cambiar color de la barra superior de avance */
#progressbar {
  background-color: #FDEDF4 !important;
}